<div class="container">
  <div class="d-flex flex-column">
    <div class="d-flex justify-content-center">
      <!-- dropdown for category -->
      <form action="/filter" method="GET" class="d-flex mt-3">
        <div class="input-group filter-category mb-3 container-fluid">
          <select class="form-control ml-2" id="record-category" name="category" onchange="submit()">
            <option value="">所有分類</option>
            {{#each categories}}
            <option value="{{ this.categoryName }}" {{#is this.categoryName ../categoryFiltered }} selected {{/is}}>{{ this.categoryName }}</option>
            {{/each}}
          </select>
        </div>
        <!-- dropdown for month -->
        <div class="input-group filter-month mb-3 container-fluid">
          <select class="form-control ml-2" id="record-month" name="month" onchange="submit()">
            <option value="">所有月份</option>
            <option value="1" {{#is monthFiltered '1' }} selected {{/is}}>一月</option>
            <option value="2" {{#is monthFiltered '2' }} selected {{/is}}>二月</option>
            <option value="3" {{#is monthFiltered '3' }} selected {{/is}}>三月</option>
            <option value="4" {{#is monthFiltered '4' }} selected {{/is}}>四月</option>
            <option value="5" {{#is monthFiltered '5' }} selected {{/is}}>五月</option>
            <option value="6" {{#is monthFiltered '6' }} selected {{/is}}>六月</option>
            <option value="7" {{#is monthFiltered '7' }} selected {{/is}}>七月</option>
            <option value="8" {{#is monthFiltered '8' }} selected {{/is}}>八月</option>
            <option value="9" {{#is monthFiltered '9' }} selected {{/is}}>九月</option>
            <option value="10" {{#is monthFiltered '10' }} selected {{/is}}>十月</option>
            <option value="11" {{#is monthFiltered '11' }} selected {{/is}}>十一月</option>
            <option value="12" {{#is monthFiltered '12' }} selected {{/is}}>十二月</option>
          </select>
        </div>
      </form>

      <!-- button for cleaning filter condition -->
      <form action="/" method="get" class="d-flex alien-items-center my-3">
        <button class="btn btn-outline-danger" type="submit">清除篩選</button>
      </form>
    </div>
    

    <!-- display flash message -->
    {{#if success_messages}}
    <div class="alert alert-success" role="alert">
      {{ success_messages }}
    </div>
    {{/if}}

    <!-- display total amount --> 
    <div class="total-amount-section m-3 d-flex justify-content-center align-items-center">
      <span class="total-amount-title m-3">總金額：</span>
      <span class="total-amount m-3">{{ totalAmount }}</span>
    </div>

    <ul class="list-group list-group-striped record-section">
      {{#each records}}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="record-part d-flex align-items-center justify-content-between">
          <div class="record-item d-flex align-items-center">
            <i class="{{ this.categoryIcon }}"></i>
            <div class="record-info d-flex flex-column">
              <span class="record-info-name">{{ this.name }}</span>
              <span class="record-info-date">{{ this.date }}</span>
            </div>
          </div>
          <div class="record-amount">
            <span>{{ this.amount }}元</span>
          </div>
          <div class="record-merchant">
            <span><i class="fas fa-shopping-cart"></i>{{ this.merchant }}</span>
          </div>
        </div>
        <div class="button-part">
          <form action="./records/{{ this._id }}" method="GET" style="display: inline;">
            <button class="btn btn-outline-success" type="submit">修改</button>
          </form>
          <button type="button" class="btn btn-outline-danger" id="modal-button" data-toggle="modal" data-target="#deleteModal" data-id="{{ this._id }}">
            刪除
          </button>
        </div>
      </li>
      {{/each}}
    </ul>

    <div class="mx-auto">
      <a href="/records/new" class="btn btn-outline-warning btn-lg active mt-3" role="button" aria-pressed="true">新增支出</a>
    </div>



  </div>

</div>

<!-- delete check modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">刪除支出項目</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        您確定要刪除該支出項目嗎？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">X</button>
        <form action="./records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;" id="modal-delete-button">
          <button class="btn btn-outline-danger" type="submit">刪除</button>
        </form>
      </div>
    </div>
  </div>
</div>