<div class="container">
  <div class="d-flex flex-column">
    <!-- dropdown -->
    <div class="btn-group">
      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        分類
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">家居物業</a>
        <a class="dropdown-item" href="#">交通出行</a>
        <a class="dropdown-item" href="#">休閒娛樂</a>
        <a class="dropdown-item" href="#">餐飲食品</a>
        <a class="dropdown-item" href="#">其他</a>
      </div>
    </div>

    <!-- display total amount --> 
    <div class="total-amount-section m-5">
      <span class="m-5">總金額：</span>
      <span class="total-amount m-5">{{ totalAmount }}</span>
    </div>

    <ul class="list-group">
      {{#each records}}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="record-part">
          {{#is this.category '家居物業'}} <i class="fas fa-home"></i> {{/is}}
          {{#is this.category '交通出行'}} <i class="fas fa-shuttle-van"></i> {{/is}}
          {{#is this.category '休閒娛樂'}} <i class="fas fa-grin-beam"></i> {{/is}}
          {{#is this.category '餐飲食品'}} <i class="fas fa-utensils"></i> {{/is}}
          {{#is this.category '其他'}} <i class="fas fa-pen"></i> {{/is}}
          <span>{{ this.name }} {{ this.amount }}元 {{ this.date }}</span>
        </div>
        <div class="button-part">
          <form action="./expense-tracker/{{ this._id }}" method="GET" style="display: inline;">
            <button class="btn btn-outline-success" type="submit">修改</button>
          </form>
          <form action="./expense-tracker/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
            <button class="btn btn-outline-danger" type="submit">刪除</button>
          </form>
        </div>
      </li>
      {{/each}}
    </ul>

    <div>
      <a href="/expense-tracker/new" class="btn btn-outline-warning btn-lg active mt-3" role="button" aria-pressed="true">新增支出</a>
    </div>

  </div>

</div>